# EditorConfig: https://EditorConfig.org
# Notepad++ Plugin: https://github.com/editorconfig/editorconfig-notepad-plus-plus
# Visual Studio Code Plugin: https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig

root = true

[*.{json,md,php}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
