language: php

php:
  - 5.3
  - 5.4
  - 5.5

matrix:
  allow_failures:
    - php: 5.4
    - php: 5.5

branches:
  only:
    - master
    - develop

script: phpunit

before_script:
  - composer install --no-dev