<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php"
        colors="true">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./test/UnitTest/</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./test/IntegrationTest/</directory>
        </testsuite>
    </testsuites>
</phpunit>