version: 2.1

jobs:
  build:
    docker:
      - image: circleci/php:7.3.7-node-browsers
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y libxml2-dev
      - run: sudo docker-php-ext-install zip soap
      - run: sudo composer self-update

      - run:
          name: Delete vendor
          command: rm -rf ./vendor

      # restore cache if `composer.lock` does not change
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
      - run: composer install
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor

      # Run PHP Unit
      - run:
          name: Run PHP Unit
          command: ./vendor/bin/phpunit
